.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0); } 
input { position: absolute; top: 12px; left: 0; width: 1px; height: 1px; } 
label { cursor: pointer; } 

header, main { width: 100%; max-width: 460px; margin: 0 auto; color: var(--color-g1); } 


/* header Start */
.goIndex { text-align: left; padding: 40px 0; } 
.goIndex a { display: inline-block; padding: 8px; } 
.goIndex a img { width: 120px; } 
/* header End */


/* Main term Start */
.join { text-align: left; margin: 0 0 160px 0; } 
.join h2 { font-size: 32px; font-weight: 100; line-height: 34px; margin-bottom: 30px; } 





@media (max-width: 1200px){
    /* header, main { width: 100%; max-width: 460px; margin: 0 auto; color: var(--color-g1); padding: 0 24px; }  */
    /* .term { margin: 140px 0 120px 0; } */
   
   /* header Start */
   .goIndex { text-align: left; padding: 40px 0; } 
   .goIndex a { display: inline-block; padding: 8px; transform: translateX(-8px);} 
   .goIndex a img { width: 99px; } 
   /* header End */
 }
 
 
 
 
 
 
 
 
 
 /* 모바일 시작! */
 @media (max-width: 768px){
 .join { text-align: left; margin: 140px 0 120px 0; } 
 .join .container { width: 100%; margin: 0 auto; display: flex; padding: 0 24px; } 
 }
 
 
 