:root { /* color */
 /* g = gray */
 --color-g1: #1d1d1f; } 
 
.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0); } 
 /* input { position: absolute; top: 12px; left: 0; width: 1px; height: 1px; } */
label { cursor: pointer; } 
main { width: 100%; max-width: 460px; margin: 0 auto; color: var(--color-g1); } 
 

 
 
/* Main sectionLogin Start */
.sectionLogin { text-align: center; margin: 60px 0 120px 0; } 
.sectionLogin h2 { font-family: apple; font-size: 34px; font-weight: 600; } 
.sectionLogin .container { position: relative; } 
.sectionLogin .container .titleInfo { font-size: 15px; font-weight: 400; margin-bottom: 30px; color: #424245; line-height: 20px; } 

.sectionLogin .loginfrm { margin-bottom: 40px; } 

/* input 창 디자인인데,.. 인풋에는 스타일 권장 안한데서 겉에 다시 박스 싸야함TT */
.sectionLogin .loginInputBox { position: relative; border: 1px solid #e5e5e5;} 

/* 여기서부터 */
.sectionLogin .loginInputBox.focus { border: 1px solid #1d1d1f;} 
.sectionLogin .account_name { margin-bottom: 10px; } 
.sectionLogin .account_password { margin-bottom: 24px; } 

.sectionLogin .account_name label,
.sectionLogin .account_password label { position: absolute; background: #fff; padding: 4px; top: 13px; left: 14px; font-size: 14px; transition: 0.25s; color: #424245; cursor: text; } 
.sectionLogin .account_name label.on,
.sectionLogin .account_password label.on { top: -9px; font-size: 13px; color: #1d1d1f; } 
.sectionLogin .account_name label.off,
.sectionLogin .account_password label.off { top: -9px; font-size: 13px; color: #979798; } 

.sectionLogin .text_field { width: 100%; font-size: 15px; height: 46px; padding: 0px 16px; border-radius: 0; outline: none; border: none; } 
/* 여기까지 수정됨 */



/* 아이디 저장 Start */
.save_id { position: relative; margin-bottom: 24px; } 
.save_id input[type='checkbox'] { position: absolute; top: 6px; left: 174px; width: 1px; height: 1px; } 
.save_id input[type='checkbox']::before { content: ""; position: absolute; top: -8px; left: -3px; width: 18px; height: 18px; background: url(../img/icon/icon_check_off_22.svg) no-repeat; background-size: 18px, 18px; cursor: pointer; } 
.save_id input[type='checkbox']:checked::before { background: url(../img/icon/icon_check_on_22.svg) no-repeat; background-size: 18px, 18px; cursor: pointer; } 
.save_id label { font-size: 15px; } 


.sign_in { background: #1d1d1f; width: 100%; font-family: apple; font-size: 16px; font-weight: 400; height: 46px; border-radius: 0; outline: none; border: none; color: #fff; padding: 0 16px; cursor: pointer; } 


.link { position: relative; display: flex; gap: 60px; justify-content: center; } 
.link a { font-size: 14px; font-weight: 400; padding: 4px; width: 86px; } 
.link a:not(:last-child)::after { content: ""; display: inline-block; width: 1px; height: 10px; background: #e5e5e5; transform: translateX(36px); } 


/* 회원가입 클릭 유도 */
.fakeBox { display: none; font-size: 14px; font-weight: 400; padding: 4px; width: 86px; color: #fff; } 
.fakeBox.O-O { display: inline-block; } 
/* .findPW.O-O { margin-right: 146px; } */
.joinPlease { transition: scale 0.25s; } 
/* .joinPlease.clickPlease { position: absolute; top: 0; left: 333px; scale: 110%; } */
.joinPlease.clickPlease { scale: 110%; } 
.joinPlease.hey { scale: 130%; } 
.joinPlease.fxxkingLogin { position: absolute; width: 460px; background: #000; color: #fff; padding: 16px; left: 0; top: -86px; rotate: 15deg; font-size: 15px; scale: 100%; } 
.joinPlease.fxxkYou { position: absolute; width: 460px; background: #000; color: #fff; padding: 16px; left: 0; top: -86px; rotate: 0deg; font-size: 15px; transition: rotate 0.25s; } 

.joinPlease.vibration { animation: vibration .1s infinite; } 
@keyframes vibration { 
 from { transform: rotate(3deg); } 
 to { transform: rotate(-3deg); } 
 }

/* 시간상 우선 삭제 */
.login_sns { display: none; } 




/* 푸터 하단고정 */
body { position: relative; } 
html,
body { height: 100vh; } 
.Wrap { min-height: 100%; margin-bottom: -186px; padding-bottom: 186px; } 
footer { position: absolute; bottom: 0; } 











@media (max-width: 1200px) { main { width: 100%; max-width: 460px; margin: 0 auto; color: var(--color-g1); } 
.sectionLogin { text-align: center; margin: 140px 0 120px 0; } 
.sectionLogin h2 { font-family: apple; font-size: 30px; font-weight: 600; padding-left: 0; } 
.sectionLogin .container { width: 100%; margin: 0 auto; } 

/* 푸터 하단고정 */
html,
body { height: auto; } 
.Wrap { margin-bottom: 0; padding-bottom: 0; } 
footer { position: static; } 
 }
 
 
 
 
 
 
 
 
 
/* 모바일 시작! */
@media (max-width: 768px) { main { width: 100%; max-width: 100%; margin: 0 auto; color: var(--color-g1); } 
.sectionLogin { text-align: left; margin: 140px 0 120px 0; } 
.sectionLogin h2 { font-family: apple; font-size: 30px; font-weight: 600; padding-left: 24px; } 
.sectionLogin .container { width: 100%; margin: 0 auto; padding: 0 24px; } 



.save_id input[type='checkbox'] { position: absolute; top: 6px; left: 2px; width: 1px; height: 1px; } 
.save_id label { font-size: 15px; margin-left: 24px; } 


.link { position: relative; display: flex; gap: 40px; justify-content: center; } 
.link a { font-size: 14px; font-weight: 400; padding: 4px; width: auto; } 
.link a:not(:last-child)::after { content: ""; display: inline-block; width: 1px; height: 10px; background: #e5e5e5; transform: translateX(24px); } 


/* 회원가입 클릭 유도 */
.fakeBox { display: none; font-size: 14px; font-weight: 400; padding: 4px; width: auto; color: #fff; } 
.fakeBox.O-O { display: inline-block; } 
/* .findPW.O-O { margin-right: 96px; } */
.joinPlease { transition: scale 0.25s; text-align: center; } 
/* .joinPlease.clickPlease { position: absolute; top: 0; left: 345px; scale: 110%; } */
.joinPlease.clickPlease { scale: 110%; } 
.joinPlease.hey { scale: 130%; } 
.joinPlease.fxxkingLogin { position: absolute; width: 100%; background: #000; color: #fff; padding: 16px; left: 0; top: -86px; rotate: 15deg; font-size: 15px; scale: 100%; } 
.joinPlease.fxxkYou { position: absolute; width: 100%; background: #000; color: #fff; padding: 16px; left: 0; top: -86px; rotate: 0deg; font-size: 15px; transition: rotate 0.25s; } 
 }
 
 
 