/* * { outline: 1px solid #f00; } */
/* * { background-color: rgba(0, 0, 0, 0.08); } */

:root { /* color */
 /* g = gray */
 --color-g1: #1d1d1f; } 

/* common */
.blind { display: none; } 
/* 디스플레이 논 말고, 폼태그에서 캡션 없애는 방식으로 바꿔야함 */
section h2 { font-family: montserrat; font-size: 32px; font-weight: 700; letter-spacing: 0; margin: 0 0 35px 0; color: var(--color-g1); } 
/* 영문 서체 변경 */
.mont { font-family: montserrat; letter-spacing: 0; } 


/* Header Start */
header { position: relative; z-index: 2; } 
.header { background-color: #fff; } 
.header .topmenu { position: relative; background-color: #fff; z-index: 1; } 
.header .topmenu.scroll { position: fixed; top: 0; left: 0; right: 0; } 
.header .topmenu .gnb { position: relative; display: flex; height: 61px; justify-content: center; } 
.header .topmenu.scroll .gnb { position: absolute; top: 0; left: 0; right: 0; height: 0; } 
.header .container { display: flex; width: 1200px; margin: 0 auto; } 
.header h1 { position: absolute; top: 0; left: calc(100% - 50%); transform: translateX(-50%); margin: 20px 0 3px 0; } 
.header .topmenu.scroll h1 { top: 10px; left: 50%; transform: translateX(calc(-50% - 540px)); margin: 0; } 
.header h1 a { display: block; padding: 8px; } 
.header h1 a img { width: 120px; } 

/* customer_menu Start */
.header .customer_menu { display: flex; gap: 4px; margin: auto -7px 8px auto; } 
/* 디자인 가이드라인에 맞추기 위해 right에 -7px줌 */
/* 추후 디자인에 크게 영향을 안 미칠 것 같으면 0으로 변경 예정 */
.header .topmenu.scroll .customer_menu { margin: 15px -4px 8px auto; } 
.header .customer_menu>li>a { display: block; padding: 4px; } 
.header .customer_menu .search_icon_area { cursor: pointer; display: block; padding: 4px; } 
.header .customer_menu img { width: 20px; } 
/* customer_menu End */



/* search form Start */ 
.globalnav_searchfield { position: fixed; opacity: 0; visibility: hidden; top: 38px; left: 0; right: 0; background: rgba(255, 255, 255, 1); z-index: 1; } 
.globalnav_searchfield.open { opacity: 1; visibility: visible; } 
/* 나중에 제이쿼리로 서치폼 클릭하면 열리는 부분 */
.header .topmenu.scroll .globalnav_searchfield { top: 0; } 
/* 스크롤돼서 탑배너 없을때 위치 top */
.globalnav_searchfield .input_area { position: relative; display: flex; width: 1200px; justify-content: center; padding: 25px 0 25px 0; margin: 0 auto; } 
/* 검색어 입력창 */
.globalnav_searchfield-input { width: 854px; height: 40px; color: #bebebf; background-color: #f8f8f9; border-radius: 20px; font-size: 15px; font-weight: 500; font-family: apple; outline: none; border: none; padding-left: 41px; } 
.globalnav_searchfield-input:focus { border: 1px solid #1d1d1f; background-color: #fff; color: var(--color-g1); } 

/* 검색결과 지우기 */
.globalnav_searchfield-reset { position: absolute; opacity: 0; visibility: hidden; top: calc(100% - 50%); right: 179px; transform: translateY(-50%); background-color: transparent; outline: none; border: none; cursor: pointer; } 
.globalnav_searchfield-reset::before { content: ""; display: block; background-image: url(../img/icon/btn_close.svg); background-size: 14px, 12px; background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; } 

/* 검색 버튼 */
.globalnav_searchfield-submit { position: absolute; top: calc(100% - 50%); left: 174px; transform: translateY(-50%); background-color: transparent; outline: none; border: none; cursor: pointer; } 
.globalnav_searchfield-submit::before { content: ""; display: block; background-image: url(../img/icon/icon_search_bebebf.svg); background-size: 20px, 20px; background-repeat: no-repeat; background-position: center; width: 40px; height: 40px; } 
.globalnav_searchfield-submit.on::before { background-image: url(../img/icon/icon_search.svg); } 

/* 검색창 닫기 */
.globalnav_searchfield-close { position: absolute; top: calc(100% - 50%); right: 0; transform: translate(5px, -50%); font-size: 15px; font-weight: 400; cursor: pointer; padding: 4px; } 

/* 추천 검색어 */
.globalnav_searchfield .container { width: 1200px; margin: 0 auto; padding: 15px 0 29px 0; } 
.globalnav_searchfield .recommend_product { width: 854px; margin: 0 auto; } 
.globalnav_searchfield .rcmd_title { display: block; color: #bebebf; margin-bottom: 14px; padding-left: 14px; } 
.globalnav_searchfield .rcmd_product_list { color: var(--color-g1); } 
.globalnav_searchfield .rcmd_product_list>li { padding-left: 5px; } 
.globalnav_searchfield .rcmd_product_list>li>a { display: inline-block; font-size: 17px; color: var(--color-g1); font-weight: 700; padding: 9px; } 
/* search form End */



/* topbanner Start */
.topbanner { display: block; height: 38px; background-color: var(--color-g1); color: #fff; font-size: 14px; font-weight: 300; padding: 12px 0 11px 0; } 
/* 새로고침하는데 배경이 번쩍 거려서 높이값을 줬음.. 확인해보니 display 속성이 none에서 block으로 바뀌는 과정에서 생기는 것 같음 */
.topbanner .container { position: relative; display: block; width: 1200px; margin: 0 auto; text-align: center; } 
.topbanner .container .banner_slider { width: 500px; margin: 0 auto; transform: translateY(1px); } 
.topbanner .slide_util img { width: 16px; } 
.topbanner .slide_util .area_left { position: absolute; top: calc(50% - 8px); left: calc(100% - 50% - 296px); cursor: pointer; } 
.topbanner .slide_util .area_right { position: absolute; top: calc(50% - 8px); right: calc(100% - 50% - 296px); cursor: pointer; } 



/* topbanner End */

/* nav Start */
.header .nav { justify-content: center; } 
/* 메뉴 열렸을때 바깥 bg 블러blur 효과 */
/* after는 DOM에 위치해 있지 않아 제이쿼리로 선택이 불가능함. => apple사이트에서도 별도의 div를 만들어서 사용하였기에 나도 span태그를 이용해서 넣어줌 */
/* .header .topmenu.scroll .nav { position: fixed; top: 0; left: 0; right: 0; justify-content: center; } */

.gnbCurtain { content: ""; display: none; position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); -ms-backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); -moz-backdrop-filter: blur(6px); -o-backdrop-filter: blur(6px); backdrop-filter: blur(6px); } 
.gnbCurtain.active { display: block; } 


.nav .main_menu { display: flex; justify-content: center; } 
.nav .main_menu>li { padding: 4px; } 
/* 메뉴 끊김을 방지하기 위해 gap 대신 padding으로 줬음 */
/* .nav .main_menu>li~li>a { } */
.nav .main_menu>li:nth-child(n+1):nth-child(-n+4)>a { font-size: 16px; font-weight: 600; letter-spacing: -0.025rem; color: var(--color-g1); } 
/* 1~4번째 메뉴까지 선택 */
.nav .main_menu>li>a { position: relative; display: block; padding: 14px 12px 14px 12px; } 
.topmenu.scroll .nav .main_menu>li>a { padding: 18px 12px 14px 12px; } 
.nav .main_menu>li>a::after { content: ""; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); display: block; width: 0; height: 4px; background-color: var(--color-g1); transition: width 0.25s ease; } 
.nav .main_menu>li.mont>a::after { top: calc(100% + 1px); } 
.nav .main_menu>li:hover>a::after { width: calc(100% - 24px); } 
/* 이부분 원래 >li>a:hover 였는데, li로 바꾸니까 ::after가 유지는 되는데, 뒤쪽 메뉴가 자꾸 겹침 */
.nav .main_menu .mont { transform: translateY(-2px); } 
.nav .main_menu .mont>a { font-size: 17px; font-weight: 500; color: var(--color-g1); } 


/* sub menu Start */
/* 서브메뉴 공통적용 & hover */
.nav .main_menu>li .submenu { position: absolute; width: 100%; max-height: 0vh; top: 115px; left: 0; background-color: #fff; overflow-y: hidden; outline: none; } 
/* submenu 아래로 나오는 블러 효과를 깔끔하게 처리하기위해 서브메뉴에 아웃라인을 추가함 */
/* submenu background에 slideUp Down 추가 */
.topmenu.scroll .nav .main_menu .submenu { top: 57px; } 

/* 아래처럼 .container 에 별도로 스타일을 준 이유는 위에 같이 주니까 뒤쪽 메뉴가 겹쳐져서 같이 열림.. */
.nav .main_menu>li .submenu .container { opacity: 0; transition-property: opacity; transition-duration: 0.5s; transition-delay: 0.1s; } 
.nav .main_menu>li.active .submenu .container { opacity: 1; } 
.nav .main_menu>li.active .submenu { max-height: 100vh; outline: 1px solid #fff; } 
/* hover 아니고 제이쿼리 통해서 클레스 붙여서 메뉴 열리게 수정 */



/* 서브메뉴 텍스트 */
.header .nav .submenu .submenu_header { margin-bottom: 6px; } 
.header .nav .submenu .submenu_header>a { display: block; padding: 4px; font-size: 16px; font-weight: 600; color: var(--color-g1); } 
.header .nav .submenu ul:nth-child(n+2):nth-child(-n+4)>li { padding: 4px; } 
.header .nav .submenu ul:nth-child(n+2):nth-child(-n+4)>li~li>a { display: block; font-size: 15px; font-weight: 400; color: #979798; padding: 4px; } 
.header .nav .submenu ul:nth-child(n+2):nth-child(-n+4)>li~li>a:hover { color: var(--color-g1); } 

/* 신상 홍보용 배너 */
.nav .submenu .container .pushMd { width: 282px; margin: 0 52px 0 0; padding: 43px 0 28px 0; } 
.nav .submenu .container .pushMd img { width: 282px; height: 178px; } 
.nav .submenu .container .pushMd p { font-family: Montserrat; font-weight: 400; letter-spacing: 0; font-size: 15px; text-indent: -1px; padding: 10px 0 14px 0; line-height: 20px; } 

/* 서브메뉴 간격 */
.nav .submenu .container>ul { width: 224px; padding: 36px 0 54px 0; } 

/* 헤라 스토리 */
.menu_story .submenu .container .brandSubmenu { display: flex; width: auto; padding: auto; } 
.menu_story .brandSubmenu { margin-left: 334px; } 
.menu_story .brandSubmenu>* { width: 224px; } 
/* Header End */




/* section Main_Visual Start */
.main_visual { margin-bottom: 116px; } 
.main_visual .container { width: 1200px; margin: 0 auto; position: relative; } 
/* Main_slider Start */
.main_slider { margin: 34px 0 0 0; } 
.main_slider .slide { display: flex; } 
.main_slider .itm01 figure { font-size: 0; width: 558px; height: 744px; background: url(../img/main/main_bg_01.jpg) center center/contain no-repeat; margin: 0 60px 0 0; } 
.main_slider .itm02 figure { font-size: 0; width: 558px; height: 744px; background: url(../img/main/main_bg_02.jpg) center center/contain no-repeat; margin: 0 60px 0 0; } 
.main_slider .itm03 figure { font-size: 0; width: 558px; height: 744px; background: url(../img/main/main_bg_03.jpg) center center/contain no-repeat; margin: 0 60px 0 0; } 
.main_slider .itm04 figure { font-size: 0; width: 558px; height: 744px; background: url(../img/main/main_bg_04.jpg) center center/contain no-repeat; margin: 0 60px 0 0; } 
.main_slider .itm05 figure { font-size: 0; width: 558px; height: 744px; background: url(../img/main/main_bg_05.jpg) center center/contain no-repeat; margin: 0 60px 0 0; } 
/* inner Start */
.main_slider .inner { margin-top: 256px; } 
.main_slider .inner .slogan { font-size: 42px; font-weight: 700; letter-spacing: -0.025rem; color: #1d1d1f; margin-bottom: 24px; } 
.main_slider .inner .slogan.EN { margin-bottom: 20px; } 
.main_slider .inner .slogan.EN .tit { font-size: 50px; letter-spacing: 0; transform: translateY(-4px); } 
.main_slider .inner .slogan .sub { margin-top: 9px; } 
.main_slider .inner p { font-size: 20px; font-weight: 400; letter-spacing: -0.025rem; color: #1d1d1f; margin-bottom: 58px; } 

.main_slider .btn_more { display: inline-block; background: #1d1d1f; padding: 11px 17px 8px 19px; color: #fff; } 
/* slide_util Start */
.main_visual .slide_util { position: absolute; display: flex; font-family: montserrat; font-size: 20px; font-weight: 400; color: #1d1d1f; bottom: 0; left: calc(100% - 582px); margin: 0 0 25px 0; } 
/* slide_pager Start */
.slide_util .slide_pager { display: flex; align-items: center; padding-right: 8px; } 
.slide_util .slide_pager .bar_progress { position: relative; display: inline-block; width: 80px; height: 1px; background: #aaa; margin: auto 10px; overflow: hidden; transform: translateY(-1px); } 
.slide_util .slide_pager .bar_progress .bar_ing { position: absolute; top: 0; left: 0; display: inline-block; width: 0; height: 100%; background: #000; } 
.slide_util .slide_pager .bar_progress.on .bar_ing { width: 100%; transition: 3s; } 
.main_visual .slide_util .slide_pager .current_index { width: 26px; } 
.main_visual .slide_util .slide_pager .total_index { color:#aaa; } 
.main_visual .slide_util .switch .pause { display: block; } 
.main_visual .slide_util .switch.stop .pause { display: none; } 
.main_visual .slide_util .switch .play { display: none; } 
.main_visual .slide_util .switch.stop .play { display: block; } 
.main_visual .slide_util .control_btn { display: flex; } 
.main_visual .slide_util .control_btn>div { cursor: pointer; } 
.main_visual .slide_util .control_btn .switch>div { padding: 6px; } 
.main_visual .slide_util .control_btn>div~div { padding: 6px; } 
.main_visual .slide_util .control_btn img { vertical-align: inherit; width: 18px; transform: translateY(1px); } 
/* section Main_Visual End */



/* section BEST Start */
.best { padding-bottom: 112px; } 
.best .container { position: relative; width: 1200px; margin: 0 auto; text-align: center; } 
.best .product_slider { color: #1d1d1f; } 
.best .product_slider .slick-track { display: flex; gap: 29px; } 
.best .product_slider .best_itm { position: relative; } 
.best .product_slider .slick-list { margin-bottom: 34px; } 

/* 슬라이드 버튼 시작 */
.product_slide_arrows .btn_area { position: absolute; top: 182px; } 
.product_slide_arrows .btn_area.left { left: 0; display: block; } 
.product_slide_arrows .btn_area.left.hide { display: none; } 
.product_slide_arrows .btn_area.right { right: 0; display: block; } 
.product_slide_arrows .btn_area.right.hide { display: none; } 
.product_slide_arrows .hoverArea { padding: 15px; cursor: pointer; background-color: #fff; opacity: 0.5; transition: opacity 0.3s; box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.08); } 
.product_slide_arrows .hoverArea:hover { opacity: 1; } 
.product_slide_arrows .hoverArea>img { width: 18px; } 

/* 썸네일 시작 */
.thumbnail_area .itm_thumbnail { width: 278px; margin: 0 auto; position: relative; overflow: hidden; margin: 0 0 17px 0; } 
.thumbnail_area .itm_thumbnail .thumbnail02 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition: opacity 0.3s; } 
.thumbnail_area:hover .itm_thumbnail .thumbnail02 { opacity: 1; } 
/* 상품 태그 */
.best .product_slider .newProduct .itm_thumbnail::after { content: "NEW"; position: absolute; top: 10px; left: 10px; font-family: montserrat; letter-spacing: -0.02rem; font-size: 14px; font-weight: 500; color: #fff; background-color: var(--color-g1); padding: 1px 3px 1px 3px; } 
.best .product_slider .soldout .itm_thumbnail::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; opacity: 0.7; z-index: 1; } 
.best .product_slider .soldout .itm_thumbnail::after { content: "Sold Out"; position: absolute; top: 10px; left: 10px; font-family: montserrat; letter-spacing: -0.035rem; font-size: 14px; font-weight: 500; color: #bebebf; background-color: #fff; border: 1px solid #bebebf; padding: 0 3px 0 2px; z-index: 1; } 
.best .product_slider .soldout .itm_info { color: #bebebf; } 

/* 커스터머 버튼 시작 */
.best_itm .thumbnail_area .cmlink_btn { position: absolute; top: 1px; right: 0; opacity: 0; visibility: hidden; transition: 0.3s; } 
.best_itm .thumbnail_area:hover .cmlink_btn { opacity: 1; visibility: visible; } 
.best_itm .thumbnail_area .cmlink_btn .addWishlist { padding: 7px; cursor: pointer; } 
.best_itm .thumbnail_area .cmlink_btn .addWishlist>img { width: 20px; } 
.best_itm .thumbnail_area .cmlink_btn .addWishlist.plusWish { background: url(../img/icon/icon_wishlist_full.svg) center center/20px no-repeat; } 

/* 인포 시작 */
.best .product_slider .itm_info .product_name { font-size: 16px; font-weight: 700; letter-spacing: -0.025rem; margin: 0 auto 8px auto; line-height: 23px; word-break: keep-all; width: 240px; } 

/* 가격 시작 */
.best .product_slider .itm_info .price_wrap { display: flex; justify-content: center; } 
.best .product_slider .price_wrap .new_price { font-size: 15px; font-weight: 500; letter-spacing: 0rem; } 
.best .product_slider .price_wrap .new_price>span { display: inline-block; padding-left: 2px; transform: translateY(-1px); } 
.best .product_slider .price_wrap .old_price { font-size: 14px; font-weight: 500; letter-spacing: 0rem; color: #bebebf; padding-top: 2px; margin-left: 6px; text-decoration: line-through; transform: translateY(-1px); } 

/* 네비게이션 dots 커스텀 */
.custom-dots { display: flex; justify-content: center; } 
.custom-dots>li { padding: 4px; border-radius: 0; cursor: pointer; } 
.custom-dots>li>button { display: block; width: 8px; height: 8px; font-size: 0; border: none; outline: 0; border-radius: 0; cursor: pointer; } 
.custom-dots>li.slick-active>button { background-color: var(--color-g1); } 
/* section BEST End */


/* section NEW Start */
.new { color: #1d1d1f; border-bottom: 1px solid #e5e5e5; padding-bottom: 120px; } 
.new .container { width: 1200px; margin: 0 auto; text-align: center; } 
.new .product_detail { display: flex; gap: 30px; } 
.new .product_detail .product_info { text-align: left; flex: 1; margin: auto 0; letter-spacing: -0.025rem; transform: translateY(-2px); } 
.new .product_detail .product_info h3 { font-size: 28px; font-weight: 700; line-height: 35px; margin: 0 0 19px 0; letter-spacing: -0.04rem; } 
.new .product_detail .product_info img { display: inline-block; margin: 0 0 5px 0; } 
.new .product_detail .product_info .product_name { display: inline-block; font-size: 16px; font-weight: 700; margin: 0 0 3px 0; } 
.new .product_detail .product_info .product_en { font-family: montserrat; font-size: 14px; font-weight: 400; color: #979797; margin-bottom: 39px; letter-spacing: 0; } 
.new .product_detail .product_info .product_txt { font-size: 16px; font-weight: 400; color: #565658; line-height: 23px; margin: 0 0 61px 0; } 
.new .product_detail .product_info .btn_more { display: inline-block; background: #fff; padding: 10px 17px 7px 19px; border: 1px solid #1d1d1f; color: #1d1d1f; transition: 0.3s; } 
.new .product_detail .product_info .btn_more:hover { background: #1d1d1f; border: 1px solid #1d1d1f; color: #fff; } 
.new .product_detail img { flex: 1; } 
.product_info .product_name::before { content: "NEW"; display: inline-block; top: 10px; left: 10px; font-family: montserrat; letter-spacing: -0.02rem; font-size: 14px; font-weight: 500; color: #fff; background-color: var(--color-g1); padding: 1px 3px 1px 3px; margin-right: 8px; transform: translateY(-1px); } 
/* section NEW End */



/* section LATEST ARTICLES Start */
.articles { padding: 116px 0 114px 0; } 
.articles .container { width: 1200px; margin: 0 auto; text-align: center; } 
.contents_box { display: flex; gap: 30px; } 
.contents_box figure { overflow: hidden; } 
.contents_box figure img { transition: scale 0.5s; } 
.contents_box figure img:hover { scale: 115%; } 
.contents_box .inner { padding: 20px; } 
.contents_box .inner .title { font-weight: 700; font-size: 16px; letter-spacing: -0.025rem; color: var(--color-g1); margin-bottom: 3px; } 
.contents_box .inner .subtitle { font-family: montserrat; font-weight: 400; font-size: 14px; letter-spacing: 0; color: #979798; margin-bottom: 12px; } 
.contents_box .inner .intro { font-weight: 400; font-size: 16px; letter-spacing: -0.025rem; color: #424245; } 
/* section LATEST ARTICLES End */



/* section instagram_gallery Start */
.instagram_gallery { padding: 0 0 120px 0; } 
.instagram_gallery .container { width: 1200px; margin: 0 auto; text-align: center; } 
.instagram_gallery h2 { margin: 0 0 14px 0; } 
.instagram_gallery .subtitle { font-family: montserrat; font-size: 16px; font-weight: 600; color: #424245; letter-spacing: -0.025rem; margin-bottom: 8px; } 
.instagram_gallery .gallery_link { font-family: montserrat; font-size: 14px; font-weight: 400; color: #424245; letter-spacing: 0; padding: 6px; margin-bottom: 30px; } 
.instagram_gallery .gallery_link img { width: 17px; margin: 0 4px 1px 0; } 

/* gallery_area Start */
.gallery_area { display: grid; height: 586px; column-gap: 10px; row-gap: 10px; } 
/* .gallery_area { display: grid; height: 586px; } */
.gallery_area .snsitm { position: relative; overflow: hidden; cursor: pointer; } 
.gallery_area .snsitm~.snsitm { width: 288px; height: 288px; } 
.gallery_area .snsitm_01 { grid-column: 1/2; grid-row: 1/3; width: 306px; } 
.gallery_area .snsitm_02 { grid-column: 2/3; grid-row: 1/2; } 
.gallery_area .snsitm_03 { grid-column: 3/4; grid-row: 1/2; } 
.gallery_area .snsitm_04 { grid-column: 4/5; grid-row: 1/2; } 
.gallery_area .snsitm_05 { grid-column: 2/3; grid-row: 2/3; } 
.gallery_area .snsitm_06 { grid-column: 3/4; grid-row: 2/3; } 
.gallery_area .snsitm_07 { grid-column: 4/5; grid-row: 2/3; } 

/* 이미지 영역 */
.gallery_area .snsitm .img_area .thumbnail { transition: transform 0.3s; } 
.gallery_area .snsitm:hover .img_area .thumbnail { transform: translateY(-20px); } 
.gallery_area .snsitm .img_area .addcart { position: absolute; opacity: 0; visibility: hidden; top: 10px; left: 10px; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; width: 26px; padding: 3px; transition: opacity 0.3s, background 0.3s; } 
.gallery_area .snsitm:hover .img_area .addcart { opacity: 1; visibility: visible; } 
.gallery_area .snsitm .img_area .addcart:hover { background-color: rgba(0, 0, 0, 1); } 

/* 텍스트 영역 */
.gallery_area .snsitm .inner { position: absolute; bottom: -91px; left: 0; right: 0; height: 91px; background-color: #fff; padding: 17px 20px 15px 20px; border: 1px solid #efefef; transition: bottom 0.3s; } 
.gallery_area .snsitm:hover .inner { bottom: 0; } 
.gallery_area .snsitm .inner .sns_id { font-family: montserrat; font-size: 12px; font-weight: 400; letter-spacing: 0; color: #424245; margin-bottom: 7px; } 
.gallery_area .snsitm .inner .sns_text { height: 38px; font-size: 13px; font-weight: 300; letter-spacing: 0; line-height: 20px; text-align: left; color: var(--color-g1); overflow:hidden; text-overflow: ellipsis; word-wrap:break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 





/* sns modal Start */
.snsModal { display: block; } 
.snsModal .modalCurtain { position: fixed; background: rgba(255, 255, 255, 0.8); top: 0; bottom: 0; left: 0; right: 0; } 
.snsModal .snsModalField { position: fixed; top: calc(100% - 50%); left: calc(100% - 50%); transform: translate(-50%, -50%); width: 854px; height: 628px; background: #fff; box-shadow: 0 4px 24px 5px rgba(0, 0, 0, 0.08); } 
.snsModal .snsModalField .modalCloseBtn { position: absolute; top: 6px; right: 8px; width: 24px; background: transparent; border: none; outline: hidden; padding: 4px; cursor: pointer; } 
.snsModal .snsModalField .snsModalFrame { position: absolute; display: block; top: 30px; left: 30px; width: calc(854px - 60px); height: calc(628px - 60px); background-color: rgba(0, 0, 0, 0.08); } 


















/* sns modal End */




/* section instagram_gallery End */






/* Footer Start */
#footer { background: var(--color-g1); color: #ededed; } 
#footer .container { width: 1200px; margin: 0 auto; display: flex; text-align: center; justify-content: center; } 
#footer .logo_footer { margin: 40px auto 30px auto; } 
#footer .logo_footer a img { width: 100px; } 

#footer .footer_utils { display: flex; font-size: 13px; font-weight: 100; margin: 0 0 10px 0; } 
#footer .footer_utils li~li::before { content: ""; display: inline-block; width: 1px; height: 9px; background: #5c5c5c; margin: auto 10px; } 
#footer .footer_utils .lang img { margin: 0 0 0 7px; padding-bottom: 2px; } 
#footer .low_footer p { font-size: 13px; font-weight: 100; margin: 0 0 10px 0; } 
#footer .copyright { font-size: 12px; font-weight: 100; color: #9b9b9b; margin: 0 0 40px 0; } 
/* Footer End */










/* 반응형 만들때 1200px 밑으로 되면 반응형으로 바뀌게 해야함(1200 이하로 들어가면 일부 background에 문제 생김) */