.store { text-align: center; margin-top: 32px;} 
.store .container { width: 1000px; margin: 0 auto; display: flex; border: 1px solid #e7e7e8;} 

/* storeWrap Start */
.store .container .storeWrap { width: 360px; border-right: 1px solid #e7e7e8; text-align: left; } 





/* mapWrap Start */
.store .mapWrap { display: inline-block; } 
.store .map { width: 640px; height: 600px; } 