.store { text-align: center; } 
.store .container { width: 1200px; margin: 0 auto; } 
.store .container .storeWrap { width: 100%; border: 1px solid #ddd; } 

.store .mapWrap { border: 1px solid #000; } 
.store .map { width: 1000px; height: 600px; } 